<div id="partials_dialog">
    <table width="100%">

        


        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
        </tr>
        
        <tr>
            <td><input type="text" name="partial_name"/></td>
            <td><input type="text" name="partial_age"/></td>
            <td><input type="text" name="partial_city"/></td>
            <td><input type="text" name="partial_state"/></td>
            <td><input type="text" name="partial_zip"/></td>
        </tr>
    </table>
</div>